<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e01e13ae9c.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>shop</title>
</head>

<body>

    <div id="app">
        <div class="topremaining">
            <p>Start selling your products or buy them from anywhere!</p>
            <span class="remaining_icons" onclick="this.parentElement.style.display='none';"><i class="fas fa-times"></i></span>
        </div>

        <div class="bg_line">
            <div class="container">
                <div class="nav">
                    <div class="language">
                        <button id="btnlanguage">USD</button>
                        <div class="dropdown_content">
                            <a href="https://mirafzal1604.github.io/babyshopWithVue/">RUS</a>
                        </div>
                    </div>

                    <img src="./img/Logo.png" alt="logo_of_nav" />

                    <div class="cardBox">
                        <p>Card(<span>{{ card }}</span>)</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg_line">
            <div class="container">
                <div class="nav_middle">
                    <div class="burger">
                        <div class="line1"></div>
                        <div class="line2"></div>
                        <div class="line3"></div>
                    </div>
                    <div class="category">
                        <a href="#" class="category_li">HOME</a>
                        <a href="#" class="category_li" id="btn_dropdown_li">MEN <span class="li_arrow"><i class="fas fa-sort-down"></i></span></a>
                        <div class="dropdown_li">
                            <a href="#">T-shirt</a>
                            <a href="#">T-shirt</a>
                            <a href="#">T-shirt</a>
                        </div>
                        <a href="#" class="category_li" id="btn_dropdown_li2">WOMEN<span class="li_arrow2"><i class="fas fa-sort-down"></i></span></a>
                        <div class="dropdown_li2">
                            <a href="#">T-shirt</a>
                            <a href="#">T-shirt</a>
                            <a href="#">T-shirt</a>
                        </div>
                        <a href="#" class="category_li">LOOKBOOK</a>
                        <a href="#" class="category_li">ABOUT</a>
                        <a href="#" class="category_li">BLOG</a>
                    </div>
                    <div class="send_wants">
                        <i class="far fa-heart" id="heart">
                            <div class="addheart"></div>
                        </i>
                        <i class="fas fa-search" id="search" onclick="openSearch()"></i>

                        <div id="myOverlay">
                            <span class="closebtn" onclick="closeSearch()"><i class="fas fa-times"></i></span>
                            <div class="overlay-content">
                                <form class="hidden_form">
                                    <input type="text" class="hidden_input" placeholder="Search.." name="search" required />
                                    <button type="submit" class="hidden_submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="product">
                <div class="product_photo">
                    <div class="meanPhoto ">
                        <img v-bind:src="imgin1" onclick="onClick(this)" />
                    </div>
                    <div class="meanPhoto">
                        <img v-bind:src="imgin2" onclick="onClick(this)" />
                    </div>
                    <div class="meanPhoto">
                        <img v-bind:src="imgin3" onclick="onClick(this)" />
                    </div>
                    <div class="meanPhoto">
                        <img v-bind:src="imgin4" onclick="onClick(this)" />
                    </div>

                    <div class="underPhoto">
                        <div class="under">
                            <img class="demo" v-bind:src="imgin1" onclick="currentSlide(1)" />
                        </div>
                        <div class="under">
                            <img class="demo" v-bind:src="imgin2" onclick="currentSlide(2)" />
                        </div>
                        <div class="under">
                            <img class="demo" v-bind:src="imgin3" onclick="currentSlide(3)" />
                        </div>
                        <div class="under">
                            <img class="demo" v-bind:src="imgin4" onclick="currentSlide(4)" />
                        </div>
                    </div>
                </div>

                <div id="modal01" class="open_toggle open_toggle_black" onclick="this.style.display='none'">
                    <span class="close">×</span>
                    <div class="content_img_toggle">
                        <img id="img01" class="image">
                        <p id="caption"></p>
                    </div>
                </div>

                <div class="productText">
                    <p class="nameof_product">The Atelier Tailored Coat</p>

                    <div class="rate_container">
                        <button class="star">
                            <i class="fas fa-star"></i>
                        </button>
                        <button class="star">
                            <i class="fas fa-star"></i>
                        </button>
                        <button class="star">
                            <i class="fas fa-star"></i>
                        </button>
                        <button class="star">
                            <i class="fas fa-star"></i>
                        </button>
                        <button class="star">
                            <i class="far fa-star"></i>
                        </button>

                        <p class="rating">3 Review(s) | <span class="ratingSpan">ADD A REVIEW</span></p>
                    </div>

                    <p class="price">29.99$</p>

                    <div class="product_model">
                        <p class="product_info">Availability : <span class="info_vue " v-if="stock" :key="productVariant.variantId">In Stack {{stock}}</span></p>
                        <p class="product_info">Availability : <span class="info_vue" v-else="" :key="productVariant.variantId">out of stack {{stock}}</span></p>
                    </div>

                    <p class="about_product">Sleek, polished, and boasting an impeccably modern fit, this blue, 2-but- ton Lazio suit features a notch lapel, flap pockets, and accompanying flat front trousers—all in pure wool by Vitale Barberis Canonico.</p>

                    <ul>
                        <li v-for="detail in details" style="list-style: inside square !important;">
                            {{detail}}
                        </li>
                    </ul>

                    <div class="product_select">
                        <div class="select">
                            <p class="model_info">Color</p>
                            <div class="pickColor" v-for="productVariants of productVariant" @click="updateImg(productVariants.imgvariantmain); updateImg2(productVariants.imgvariant1); updateImg3(productVariants.imgvariant2); updateImg4(productVariants.imgvariant3);">
                                {{ productVariant.variantColor }}
                            </div>
                        </div>
                        <div class="select">
                            <p class="model_info">Size</p>
                            <select class="product_input">
                                    <option>S</option>
                                    <option>M</option>
                                    <option>L</option>
                                    <option>XL</option>
                            </select>
                        </div>
                        <div class="select">
                            <p class="model_info">QTY</p>
                            <div class="box_inc">
                                <div class="number"></div>
                                <div class="inc">
                                    <button class="plus" id="plus">+</button>
                                    <button class="minuse" id="minuse">-</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="func">
                        <button class="addCart" v-on:click="addToCart" :disabled="!stock" :class="{ disabled_button: !stock}">add to cart</button>
                        <button class="addWish">💛 add to wishlist</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="footer">
            <p class="footer_text">Made with Love & Coffee © 2015 Design Lazy. All Rights Reserved.</p>
        </div>
    </div>


    <div id="CartAdd" onclick="this.style.display='none'">
        <span class="close1"><i class="fas fa-times" ></i></span>
        <p>Hi dude, I'm blissful to u , for visited my website</p>
    </div>

    <script>
        var myObject = new Vue({
            el: '#app',
            data: {
                details: ["80% cotton", "20% polyester", "Gender-neutral"],
                card: 0,
                stock: true,
                imgin1: "https://cdn.crockid.ru/crockid/catalog/thumbs/0_9e47e409-9745-11eb-abe0-00155d006c00.jpg",
                imgin2: "https://cdn.crockid.ru/crockid/catalog/thumbs/1_9e47e409-9745-11eb-abe0-00155d006c00.jpg",
                imgin3: "https://cdn.crockid.ru/crockid/catalog/thumbs/2_9e47e409-9745-11eb-abe0-00155d006c00.jpg",
                imgin4: "https://cdn.crockid.ru/crockid/catalog/thumbs/3_9e47e409-9745-11eb-abe0-00155d006c00.jpg",
                productVariant: [{
                    variantId: 22,
                    variantColor: "yellow",
                    imgvariantmain: "https://cdn.crockid.ru/crockid/catalog/thumbs_small/0_ac4a1d13-ae2e-11eb-a1e2-00155d006c00.jpg",
                    imgvariant1: "https://cdn.crockid.ru/crockid/catalog/thumbs_small/1_ac4a1d13-ae2e-11eb-a1e2-00155d006c00.jpg",
                    imgvariant2: "https://cdn.crockid.ru/crockid/catalog/thumbs_small/2_ac4a1d13-ae2e-11eb-a1e2-00155d006c00.jpg",
                    imgvariant3: "https://cdn.crockid.ru/crockid/catalog/thumbs_small/3_ac4a1d13-ae2e-11eb-a1e2-00155d006c00.jpg",
                }, {
                    variantId: 23,
                    variantColor: "pink",
                    imgvariantmain: "https://cdn.crockid.ru/crockid/catalog/thumbs/0_9e47e409-9745-11eb-abe0-00155d006c00.jpg",
                    imgvariant1: "https://cdn.crockid.ru/crockid/catalog/thumbs/1_9e47e409-9745-11eb-abe0-00155d006c00.jpg",
                    imgvariant2: "https://cdn.crockid.ru/crockid/catalog/thumbs/2_9e47e409-9745-11eb-abe0-00155d006c00.jpg",
                    imgvariant3: "https://cdn.crockid.ru/crockid/catalog/thumbs/3_9e47e409-9745-11eb-abe0-00155d006c00.jpg",
                }],
            },
            methods: {
                addToCart() {
                    this.card = 1
                },
                // <div v-on:click="firstFunction(); secondFunction();"></div>
                updateImg(imgvariantmain) {
                    this.imgin1 = imgvariantmain
                },
                updateImg2(imgvariant1) {
                    this.imgin2 = imgvariant1
                },
                updateImg3(imgvariant1) {
                    this.imgin3 = imgvariant1
                },
                updateImg4(imgvariant1) {
                    this.imgin4 = imgvariant1
                },
            },
        })
    </script>


    <script src="./js/openingbox.js"></script>
    <script src=".//js/srcimage.js"></script>
    <script src=".//js/wishes.js"></script>
    <script src=".//js/inc.js"></script>
    <script src="./js/img.js"></script>
    <script src="./js/dropDownnav.js"></script>
    <script src="./js/icons.js "></script>
    <script src="./js/language.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js "></script>
</body>

</html>
